@charset "UTF-8";
@font-face {
  font-family: 'Nitti';
  src: url("../../fonts/nitti/normal/nitti-normal-v500-webfont.eot");
  src: url("../../fonts/nitti/normal/nitti-normal-v500-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/nitti/normal/nitti-normal-v500-webfont.woff2") format("woff2"), url("../../fonts/nitti/normal/nitti-normal-v500-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Nitti';
  src: url("../../fonts/nitti/medium/nitti-medium-v500-webfont.eot");
  src: url("../../fonts/nitti/medium/nitti-medium-v500-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/nitti/medium/nitti-medium-v500-webfont.woff2") format("woff2"), url("../../fonts/nitti/medium/nitti-medium-v500-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Nitti Grotesk';
  src: url("../../fonts/nittigrotesk/normal/nittigrotesk-normal-v20-webfont.eot");
  src: url("../../fonts/nittigrotesk/normal/nittigrotesk-normal-v20-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/nittigrotesk/normal/nittigrotesk-normal-v20-webfont.woff2") format("woff2"), url("../../fonts/nittigrotesk/normal/nittigrotesk-normal-v20-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Nitti Grotesk';
  src: url("../../fonts/nittigrotesk/medium/nittigrotesk-medium-v20-webfont.eot");
  src: url("../../fonts/nittigrotesk/medium/nittigrotesk-medium-v20-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/nittigrotesk/medium/nittigrotesk-medium-v20-webfont.woff2") format("woff2"), url("../../fonts/nittigrotesk/medium/nittigrotesk-medium-v20-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  padding-top: 69px;
  font-family: "Nitti Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 120%;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased; }
  @media (min-width: 1200px) {
    body {
      font-size: 130%;
      line-height: 1.414; } }

img {
  max-width: 100%; }

::-moz-selection {
  background-color: #00D6BF;
  color: white; }

::selection {
  background-color: #00D6BF;
  color: white; }

a {
  color: inherit;
  text-decoration: none; }

p {
  color: #333333;
  padding-bottom: 1em; }

h1, h2, h3, h4, h5, h6 {
  padding: 0.707em 0 0.5em;
  font-weight: 600;
  line-height: 1.2;
  color: #20252D; }

h1, .h1 {
  padding: 0 0 0.25em;
  font-size: 3.998em; }

h2, .h2 {
  font-size: 2.25rem; }

h3, .h3 {
  font-size: 1.5rem; }

h4, .h4 {
  font-size: 1.25rem; }

h5, .h5 {
  font-size: 1rem; }

h6, .h6 {
  font-size: .875rem; }

small, .font_small {
  font-size: 0.9em; }

.font_mini {
  font-size: 0.707em; }

@-webkit-keyframes blink {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes blink {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes dropdown {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes dropdown {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.animateFadeIn {
  -webkit-animation: fadeIn .6s ease forwards, dropdown .5s ease forwards;
          animation: fadeIn .6s ease forwards, dropdown .5s ease forwards; }

.bg-black {
  background-color: #20252D; }

.bg-gray {
  background-color: #FAFAFA; }

.bg-aqua {
  background-color: #00D6BF; }

.bg-aqua-dark {
  background-color: #00BFAA; }

.bg-white {
  background-color: #fff; }

.bg-highlight {
  background-color: #B9F4EE; }

.bg--black-05 {
  background-color: rgba(0, 0, 0, 0.05); }

.b--white-90 {
  border-color: rgba(255, 255, 255, 0.9); }

.b--white-80 {
  border-color: rgba(255, 255, 255, 0.8); }

.b--white-70 {
  border-color: rgba(255, 255, 255, 0.7); }

.b--white-60 {
  border-color: rgba(255, 255, 255, 0.6); }

.b--white-50 {
  border-color: rgba(255, 255, 255, 0.5); }

.b--white-40 {
  border-color: rgba(255, 255, 255, 0.4); }

.b--white-30 {
  border-color: rgba(255, 255, 255, 0.3); }

.b--white-20 {
  border-color: rgba(255, 255, 255, 0.2); }

.b--white-10 {
  border-color: rgba(255, 255, 255, 0.1); }

.b--white-05 {
  border-color: rgba(255, 255, 255, 0.05); }

.b--white-025 {
  border-color: rgba(255, 255, 255, 0.025); }

.b--white-0125 {
  border-color: rgba(255, 255, 255, 0.0125); }

.b--black-90 {
  border-color: rgba(0, 0, 0, 0.9); }

.b--black-80 {
  border-color: rgba(0, 0, 0, 0.8); }

.b--black-70 {
  border-color: rgba(0, 0, 0, 0.7); }

.b--black-60 {
  border-color: rgba(0, 0, 0, 0.6); }

.b--black-50 {
  border-color: rgba(0, 0, 0, 0.5); }

.b--black-40 {
  border-color: rgba(0, 0, 0, 0.4); }

.b--black-30 {
  border-color: rgba(0, 0, 0, 0.3); }

.b--black-20 {
  border-color: rgba(0, 0, 0, 0.2); }

.b--black-10 {
  border-color: rgba(0, 0, 0, 0.1); }

.b--black-05 {
  border-color: rgba(0, 0, 0, 0.05); }

.b--black-025 {
  border-color: rgba(0, 0, 0, 0.025); }

.b--black-0125 {
  border-color: rgba(0, 0, 0, 0.0125); }

.b--transparent {
  border-color: transparent; }

/*

   BORDER RADIUS
   Docs: http://tachyons.io/docs/themes/border-radius/

   Base:
     br   = border-radius

   Modifiers:
     0    = 0/none
     1    = 1st step in scale
     2    = 2nd step in scale
     3    = 3rd step in scale
     4    = 4th step in scale

   Literal values:
     -100 = 100%
     -pill = 9999px

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/
.br0 {
  border-radius: 0; }

.br1 {
  border-radius: .125rem; }

.br2 {
  border-radius: .25rem; }

.br3 {
  border-radius: .5rem; }

.br4 {
  border-radius: 1rem; }

.br-100 {
  border-radius: 100%; }

.br-pill {
  border-radius: 9999px; }

.br--bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.br--top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.br--right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.br--left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

@media (min-width: 768px) {
  .br0-sm {
    border-radius: 0; }
  .br1-sm {
    border-radius: .125rem; }
  .br2-sm {
    border-radius: .25rem; }
  .br3-sm {
    border-radius: .5rem; }
  .br4-sm {
    border-radius: 1rem; }
  .br-100-sm {
    border-radius: 100%; }
  .br-pill-sm {
    border-radius: 9999px; }
  .br--bottom-sm {
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  .br--top-sm {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .br--right-sm {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .br--left-sm {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; } }

@media (min-width: 992px) {
  .br0-m {
    border-radius: 0; }
  .br1-m {
    border-radius: .125rem; }
  .br2-m {
    border-radius: .25rem; }
  .br3-m {
    border-radius: .5rem; }
  .br4-m {
    border-radius: 1rem; }
  .br-100-m {
    border-radius: 100%; }
  .br-pill-m {
    border-radius: 9999px; }
  .br--bottom-m {
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  .br--top-m {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .br--right-m {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .br--left-m {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; } }

@media (min-width: 1200px) {
  .br0-l {
    border-radius: 0; }
  .br1-l {
    border-radius: .125rem; }
  .br2-l {
    border-radius: .25rem; }
  .br3-l {
    border-radius: .5rem; }
  .br4-l {
    border-radius: 1rem; }
  .br-100-l {
    border-radius: 100%; }
  .br-pill-l {
    border-radius: 9999px; }
  .br--bottom-l {
    border-radius-top-left: 0;
    border-radius-top-right: 0; }
  .br--top-l {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .br--right-l {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .br--left-l {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; } }

.border-top {
  border-top: 1px solid #e2e2e2; }

.border-gray {
  border: 1px solid #e2e2e2; }

.ba {
  border-style: solid;
  border-width: 1px; }

.bt {
  border-top-style: solid;
  border-top-width: 1px; }

.br {
  border-right-style: solid;
  border-right-width: 1px; }

.bb {
  border-bottom-style: solid;
  border-bottom-width: 1px; }

.bl {
  border-left-style: solid;
  border-left-width: 1px; }

.bn {
  border-style: none;
  border-width: 0; }

@media (min-width: 768px) {
  .ba-sm {
    border-style: solid;
    border-width: 1px; }
  .bt-sm {
    border-top-style: solid;
    border-top-width: 1px; }
  .br-sm {
    border-right-style: solid;
    border-right-width: 1px; }
  .bb-sm {
    border-bottom-style: solid;
    border-bottom-width: 1px; }
  .bl-sm {
    border-left-style: solid;
    border-left-width: 1px; }
  .bn-sm {
    border-style: none;
    border-width: 0; } }

@media (min-width: 992px) {
  .ba-m {
    border-style: solid;
    border-width: 1px; }
  .bt-m {
    border-top-style: solid;
    border-top-width: 1px; }
  .br-m {
    border-right-style: solid;
    border-right-width: 1px; }
  .bb-m {
    border-bottom-style: solid;
    border-bottom-width: 1px; }
  .bl-m {
    border-left-style: solid;
    border-left-width: 1px; }
  .bn-m {
    border-style: none;
    border-width: 0; } }

@media (min-width: 1200px) {
  .ba-l {
    border-style: solid;
    border-width: 1px; }
  .bt-l {
    border-top-style: solid;
    border-top-width: 1px; }
  .br-l {
    border-right-style: solid;
    border-right-width: 1px; }
  .bb-l {
    border-bottom-style: solid;
    border-bottom-width: 1px; }
  .bl-l {
    border-left-style: solid;
    border-left-width: 1px; }
  .bn-l {
    border-style: none;
    border-width: 0; } }

/*

   CLEARFIX
   http://tachyons.io/docs/layout/clearfix/

*/
/* Nicolas Gallaghers Clearfix solution
   Ref: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before,
.cf:after {
  content: " ";
  display: table;
  display: -ms-flexbox;
  display: flex; }
  @supports ((display: -ms-flexbox) or (display: flex)) {
    .cf:before,
    .cf:after {
      display: -ms-flexbox;
      display: flex; } }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

.cl {
  clear: left; }

.cr {
  clear: right; }

.cb {
  clear: both; }

.cn {
  clear: none; }

@media (min-width: 768px) {
  .cl-sm {
    clear: left; }
  .cr-sm {
    clear: right; }
  .cb-sm {
    clear: both; }
  .cn-sm {
    clear: none; } }

@media (min-width: 992px) {
  .cl-m {
    clear: left; }
  .cr-m {
    clear: right; }
  .cb-m {
    clear: both; }
  .cn-m {
    clear: none; } }

@media (min-width: 1200px) {
  .cl-l {
    clear: left; }
  .cr-l {
    clear: right; }
  .cb-l {
    clear: both; }
  .cn-l {
    clear: none; } }

.c-white {
  color: white; }

.c-black {
  color: #20252D; }

.c-aqua {
  color: #00D6BF; }

.c-aqua-dark {
  color: #00BFAA; }

.c-border-gray {
  color: #e2e2e2; }

.c-text-lighten {
  color: #666666;
  padding-bottom: 1em; }

.currentcolor {
  color: currentColor; }

.black-90 {
  color: rgba(0, 0, 0, 0.9); }

.black-80 {
  color: rgba(0, 0, 0, 0.8); }

.black-70 {
  color: rgba(0, 0, 0, 0.7); }

.black-60 {
  color: rgba(0, 0, 0, 0.6); }

.black-50 {
  color: rgba(0, 0, 0, 0.5); }

.black-40 {
  color: rgba(0, 0, 0, 0.4); }

.black-30 {
  color: rgba(0, 0, 0, 0.3); }

.black-20 {
  color: rgba(0, 0, 0, 0.2); }

.black-10 {
  color: rgba(0, 0, 0, 0.1); }

.black-05 {
  color: rgba(0, 0, 0, 0.05); }

.white-90 {
  color: rgba(255, 255, 255, 0.9); }

.white-80 {
  color: rgba(255, 255, 255, 0.8); }

.white-70 {
  color: rgba(255, 255, 255, 0.7); }

.white-60 {
  color: rgba(255, 255, 255, 0.6); }

.white-50 {
  color: rgba(255, 255, 255, 0.5); }

.white-40 {
  color: rgba(255, 255, 255, 0.4); }

.white-30 {
  color: rgba(255, 255, 255, 0.3); }

.white-20 {
  color: rgba(255, 255, 255, 0.2); }

.white-10 {
  color: rgba(255, 255, 255, 0.1); }

.white {
  color: #fff; }

/*

   DISPLAY
   Docs: http://tachyons.io/docs/layout/display

   Base:
    d = display

   Modifiers:
    n     = none
    b     = block
    ib    = inline-block
    it    = inline-table
    t     = table
    tc    = table-cell
    tr    = table-row
    tcol  = table-column
    tcolg = table-column-group

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/
.dn {
  display: none; }

.di {
  display: inline; }

.db {
  display: block; }

.dib {
  display: inline-block; }

.dit {
  display: inline-table; }

.dt {
  display: table; }

.dtc {
  display: table-cell; }

.dt-row {
  display: table-row; }

.dt-row-group {
  display: table-row-group; }

.dt-column {
  display: table-column; }

.dt-column-group {
  display: table-column-group; }

/*
  This will set table to full width and then
  all cells will be equal width
*/
.dt--fixed {
  table-layout: fixed;
  width: 100%; }

@media (min-width: 768px) {
  .dn-sm {
    display: none; }
  .di-sm {
    display: inline; }
  .db-sm {
    display: block; }
  .dib-sm {
    display: inline-block; }
  .dit-sm {
    display: inline-table; }
  .dt-sm {
    display: table; }
  .dtc-sm {
    display: table-cell; }
  .dt-row-sm {
    display: table-row; }
  .dt-row-group-sm {
    display: table-row-group; }
  .dt-column-sm {
    display: table-column; }
  .dt-column-group-sm {
    display: table-column-group; }
  .dt--fixed-sm {
    table-layout: fixed;
    width: 100%; } }

@media (min-width: 992px) {
  .dn-m {
    display: none; }
  .di-m {
    display: inline; }
  .db-m {
    display: block; }
  .dib-m {
    display: inline-block; }
  .dit-m {
    display: inline-table; }
  .dt-m {
    display: table; }
  .dtc-m {
    display: table-cell; }
  .dt-row-m {
    display: table-row; }
  .dt-row-group-m {
    display: table-row-group; }
  .dt-column-m {
    display: table-column; }
  .dt-column-group-m {
    display: table-column-group; }
  .dt--fixed-m {
    table-layout: fixed;
    width: 100%; } }

@media (min-width: 1200px) {
  .dn-l {
    display: none; }
  .di-l {
    display: inline; }
  .db-l {
    display: block; }
  .dib-l {
    display: inline-block; }
  .dit-l {
    display: inline-table; }
  .dt-l {
    display: table; }
  .dtc-l {
    display: table-cell; }
  .dt-row-l {
    display: table-row; }
  .dt-row-group-l {
    display: table-row-group; }
  .dt-column-l {
    display: table-column; }
  .dt-column-group-l {
    display: table-column-group; }
  .dt--fixed-l {
    table-layout: fixed;
    width: 100%; } }

.divider {
  height: 5px;
  width: 55px; }

.divider-mini {
  height: 2px;
  width: 55px; }

/*

  FLEXBOX

  Media Query Extensions:
   -ns = not-small
   -m  = medium
   -l  = large

*/
.flex {
  display: -ms-flexbox;
  display: flex; }

.inline-flex {
  display: -ms-inline-flexbox;
  display: inline-flex; }

/* 1. Fix for Chrome 44 bug.
 * https://code.google.com/p/chromium/issues/detail?id=506893 */
.flex-auto {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  min-width: 0;
  /* 1 */
  min-height: 0;
  /* 1 */ }

.flex-none {
  -ms-flex: none;
      flex: none; }

.flex-column {
  -ms-flex-direction: column;
      flex-direction: column; }

.flex-row {
  -ms-flex-direction: row;
      flex-direction: row; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.items-start {
  -ms-flex-align: start;
      align-items: flex-start; }

.items-end {
  -ms-flex-align: end;
      align-items: flex-end; }

.items-center {
  -ms-flex-align: center;
      align-items: center; }

.items-baseline {
  -ms-flex-align: baseline;
      align-items: baseline; }

.items-stretch {
  -ms-flex-align: stretch;
      align-items: stretch; }

.self-start {
  -ms-flex-item-align: start;
      align-self: flex-start; }

.self-end {
  -ms-flex-item-align: end;
      align-self: flex-end; }

.self-center {
  -ms-flex-item-align: center;
      align-self: center; }

.self-baseline {
  -ms-flex-item-align: baseline;
      align-self: baseline; }

.self-stretch {
  -ms-flex-item-align: stretch;
      align-self: stretch; }

.justify-start {
  -ms-flex-pack: start;
      justify-content: flex-start; }

.justify-end {
  -ms-flex-pack: end;
      justify-content: flex-end; }

.justify-center {
  -ms-flex-pack: center;
      justify-content: center; }

.justify-between {
  -ms-flex-pack: justify;
      justify-content: space-between; }

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.content-start {
  -ms-flex-line-pack: start;
      align-content: flex-start; }

.content-end {
  -ms-flex-line-pack: end;
      align-content: flex-end; }

.content-center {
  -ms-flex-line-pack: center;
      align-content: center; }

.content-between {
  -ms-flex-line-pack: justify;
      align-content: space-between; }

.content-around {
  -ms-flex-line-pack: distribute;
      align-content: space-around; }

.content-stretch {
  -ms-flex-line-pack: stretch;
      align-content: stretch; }

.order-0 {
  -ms-flex-order: 0;
      order: 0; }

.order-1 {
  -ms-flex-order: 1;
      order: 1; }

.order-2 {
  -ms-flex-order: 2;
      order: 2; }

.order-3 {
  -ms-flex-order: 3;
      order: 3; }

.order-4 {
  -ms-flex-order: 4;
      order: 4; }

.order-5 {
  -ms-flex-order: 5;
      order: 5; }

.order-6 {
  -ms-flex-order: 6;
      order: 6; }

.order-7 {
  -ms-flex-order: 7;
      order: 7; }

.order-8 {
  -ms-flex-order: 8;
      order: 8; }

.order-last {
  -ms-flex-order: 99999;
      order: 99999; }

@media (min-width: 768px) {
  .flex-sm {
    display: -ms-flexbox;
    display: flex; }
  .inline-flex-sm {
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .flex-auto-sm {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    min-width: 0;
    /* 1 */
    min-height: 0;
    /* 1 */ }
  .flex-none-sm {
    -ms-flex: none;
        flex: none; }
  .flex-column-sm {
    -ms-flex-direction: column;
        flex-direction: column; }
  .flex-row-sm {
    -ms-flex-direction: row;
        flex-direction: row; }
  .flex-wrap-sm {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .items-start-sm {
    -ms-flex-align: start;
        align-items: flex-start; }
  .items-end-sm {
    -ms-flex-align: end;
        align-items: flex-end; }
  .items-center-sm {
    -ms-flex-align: center;
        align-items: center; }
  .items-baseline-sm {
    -ms-flex-align: baseline;
        align-items: baseline; }
  .items-stretch-sm {
    -ms-flex-align: stretch;
        align-items: stretch; }
  .self-start-sm {
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .self-end-sm {
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .self-center-sm {
    -ms-flex-item-align: center;
        align-self: center; }
  .self-baseline-sm {
    -ms-flex-item-align: baseline;
        align-self: baseline; }
  .self-stretch-sm {
    -ms-flex-item-align: stretch;
        align-self: stretch; }
  .justify-start-sm {
    -ms-flex-pack: start;
        justify-content: flex-start; }
  .justify-end-sm {
    -ms-flex-pack: end;
        justify-content: flex-end; }
  .justify-center-sm {
    -ms-flex-pack: center;
        justify-content: center; }
  .justify-between-sm {
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .justify-around-sm {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .content-start-sm {
    -ms-flex-line-pack: start;
        align-content: flex-start; }
  .content-end-sm {
    -ms-flex-line-pack: end;
        align-content: flex-end; }
  .content-center-sm {
    -ms-flex-line-pack: center;
        align-content: center; }
  .content-between-sm {
    -ms-flex-line-pack: justify;
        align-content: space-between; }
  .content-around-sm {
    -ms-flex-line-pack: distribute;
        align-content: space-around; }
  .content-stretch-sm {
    -ms-flex-line-pack: stretch;
        align-content: stretch; }
  .order-0-sm {
    -ms-flex-order: 0;
        order: 0; }
  .order-1-sm {
    -ms-flex-order: 1;
        order: 1; }
  .order-2-sm {
    -ms-flex-order: 2;
        order: 2; }
  .order-3-sm {
    -ms-flex-order: 3;
        order: 3; }
  .order-4-sm {
    -ms-flex-order: 4;
        order: 4; }
  .order-5-sm {
    -ms-flex-order: 5;
        order: 5; }
  .order-6-sm {
    -ms-flex-order: 6;
        order: 6; }
  .order-7-sm {
    -ms-flex-order: 7;
        order: 7; }
  .order-8-sm {
    -ms-flex-order: 8;
        order: 8; }
  .order-last-sm {
    -ms-flex-order: 99999;
        order: 99999; } }

@media (min-width: 992px) {
  .flex-m {
    display: -ms-flexbox;
    display: flex; }
  .inline-flex-m {
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .flex-auto-m {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    min-width: 0;
    /* 1 */
    min-height: 0;
    /* 1 */ }
  .flex-none-m {
    -ms-flex: none;
        flex: none; }
  .flex-column-m {
    -ms-flex-direction: column;
        flex-direction: column; }
  .flex-row-m {
    -ms-flex-direction: row;
        flex-direction: row; }
  .flex-wrap-m {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .items-start-m {
    -ms-flex-align: start;
        align-items: flex-start; }
  .items-end-m {
    -ms-flex-align: end;
        align-items: flex-end; }
  .items-center-m {
    -ms-flex-align: center;
        align-items: center; }
  .items-baseline-m {
    -ms-flex-align: baseline;
        align-items: baseline; }
  .items-stretch-m {
    -ms-flex-align: stretch;
        align-items: stretch; }
  .self-start-m {
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .self-end-m {
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .self-center-m {
    -ms-flex-item-align: center;
        align-self: center; }
  .self-baseline-m {
    -ms-flex-item-align: baseline;
        align-self: baseline; }
  .self-stretch-m {
    -ms-flex-item-align: stretch;
        align-self: stretch; }
  .justify-start-m {
    -ms-flex-pack: start;
        justify-content: flex-start; }
  .justify-end-m {
    -ms-flex-pack: end;
        justify-content: flex-end; }
  .justify-center-m {
    -ms-flex-pack: center;
        justify-content: center; }
  .justify-between-m {
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .justify-around-m {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .content-start-m {
    -ms-flex-line-pack: start;
        align-content: flex-start; }
  .content-end-m {
    -ms-flex-line-pack: end;
        align-content: flex-end; }
  .content-center-m {
    -ms-flex-line-pack: center;
        align-content: center; }
  .content-between-m {
    -ms-flex-line-pack: justify;
        align-content: space-between; }
  .content-around-m {
    -ms-flex-line-pack: distribute;
        align-content: space-around; }
  .content-stretch-m {
    -ms-flex-line-pack: stretch;
        align-content: stretch; }
  .order-0-m {
    -ms-flex-order: 0;
        order: 0; }
  .order-1-m {
    -ms-flex-order: 1;
        order: 1; }
  .order-2-m {
    -ms-flex-order: 2;
        order: 2; }
  .order-3-m {
    -ms-flex-order: 3;
        order: 3; }
  .order-4-m {
    -ms-flex-order: 4;
        order: 4; }
  .order-5-m {
    -ms-flex-order: 5;
        order: 5; }
  .order-6-m {
    -ms-flex-order: 6;
        order: 6; }
  .order-7-m {
    -ms-flex-order: 7;
        order: 7; }
  .order-8-m {
    -ms-flex-order: 8;
        order: 8; }
  .order-last-m {
    -ms-flex-order: 99999;
        order: 99999; } }

@media (min-width: 1200px) {
  .flex-l {
    display: -ms-flexbox;
    display: flex; }
  .inline-flex-l {
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .flex-auto-l {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    min-width: 0;
    /* 1 */
    min-height: 0;
    /* 1 */ }
  .flex-none-l {
    -ms-flex: none;
        flex: none; }
  .flex-column-l {
    -ms-flex-direction: column;
        flex-direction: column; }
  .flex-row-l {
    -ms-flex-direction: row;
        flex-direction: row; }
  .flex-wrap-l {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .items-start-l {
    -ms-flex-align: start;
        align-items: flex-start; }
  .items-end-l {
    -ms-flex-align: end;
        align-items: flex-end; }
  .items-center-l {
    -ms-flex-align: center;
        align-items: center; }
  .items-baseline-l {
    -ms-flex-align: baseline;
        align-items: baseline; }
  .items-stretch-l {
    -ms-flex-align: stretch;
        align-items: stretch; }
  .self-start-l {
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .self-end-l {
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .self-center-l {
    -ms-flex-item-align: center;
        align-self: center; }
  .self-baseline-l {
    -ms-flex-item-align: baseline;
        align-self: baseline; }
  .self-stretch-l {
    -ms-flex-item-align: stretch;
        align-self: stretch; }
  .justify-start-l {
    -ms-flex-pack: start;
        justify-content: flex-start; }
  .justify-end-l {
    -ms-flex-pack: end;
        justify-content: flex-end; }
  .justify-center-l {
    -ms-flex-pack: center;
        justify-content: center; }
  .justify-between-l {
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .justify-around-l {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .content-start-l {
    -ms-flex-line-pack: start;
        align-content: flex-start; }
  .content-end-l {
    -ms-flex-line-pack: end;
        align-content: flex-end; }
  .content-center-l {
    -ms-flex-line-pack: center;
        align-content: center; }
  .content-between-l {
    -ms-flex-line-pack: justify;
        align-content: space-between; }
  .content-around-l {
    -ms-flex-line-pack: distribute;
        align-content: space-around; }
  .content-stretch-l {
    -ms-flex-line-pack: stretch;
        align-content: stretch; }
  .order-0-l {
    -ms-flex-order: 0;
        order: 0; }
  .order-1-l {
    -ms-flex-order: 1;
        order: 1; }
  .order-2-l {
    -ms-flex-order: 2;
        order: 2; }
  .order-3-l {
    -ms-flex-order: 3;
        order: 3; }
  .order-4-l {
    -ms-flex-order: 4;
        order: 4; }
  .order-5-l {
    -ms-flex-order: 5;
        order: 5; }
  .order-6-l {
    -ms-flex-order: 6;
        order: 6; }
  .order-7-l {
    -ms-flex-order: 7;
        order: 7; }
  .order-8-l {
    -ms-flex-order: 8;
        order: 8; }
  .order-last-l {
    -ms-flex-order: 99999;
        order: 99999; } }

/*

   FLOATS
   http://tachyons.io/docs/layout/floats/

   1. Floated elements are automatically rendered as block level elements.
      Setting floats to display inline will fix the double margin bug in
      ie6. You know... just in case.

   2. Don't forget to clearfix your floats with .cf

   Base:
     f = float

   Modifiers:
     l = left
     r = right
     n = none

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/
.fl {
  float: left;
  _display: inline; }

.fr {
  float: right;
  _display: inline; }

.fn {
  float: none; }

@media (min-width: 768px) {
  .fl-sm {
    float: left;
    _display: inline; }
  .fr-sm {
    float: right;
    _display: inline; }
  .fn-sm {
    float: none; } }

@media (min-width: 992px) {
  .fl-m {
    float: left;
    _display: inline; }
  .fr-m {
    float: right;
    _display: inline; }
  .fn-m {
    float: none; } }

@media (min-width: 1200px) {
  .fl-l {
    float: left;
    _display: inline; }
  .fr-l {
    float: right;
    _display: inline; }
  .fn-l {
    float: none; } }

.font-nitti {
  font-family: "Nitti", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

.font-nitti-grotesk {
  font-family: "Nitti Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

/*

   FORMS

*/
.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  background-color: #fff; }

.button-reset::-moz-focus-inner,
.input-reset::-moz-focus-inner {
  border: 0;
  padding: 0; }

.input:focus, .select:focus, .textarea:focus {
  outline: 0;
  border-color: #00D6BF;
  transition: border-color 0.5s ease; }

.dropdown {
  position: relative; }
  .dropdown:after {
    content: "";
    position: absolute;
    margin: auto;
    top: 30px;
    bottom: 0;
    right: 15px;
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-top: 5px solid #00D6BF; }

select option:disabled {
  color: red; }

.vh-100-minus-nav {
  height: calc(100vh - 69px); }

/*

   HEIGHTS
   Docs: http://tachyons.io/docs/layout/heights/

   Base:
     h = height
     min-h = min-height
     min-vh = min-height vertical screen height
     vh = vertical screen height

   Modifiers
     1 = 1st step in height scale
     2 = 2nd step in height scale
     3 = 3rd step in height scale
     4 = 4th step in height scale
     5 = 5th step in height scale

     -25   = literal value 25%
     -50   = literal value 50%
     -75   = literal value 75%
     -100  = literal value 100%

     -auto = string value of auto
     -inherit = string value of inherit

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/
/* Height Percentages - Based off of height of parent */
.h-25 {
  height: 25%; }

.h-50 {
  height: 50%; }

.h-75 {
  height: 75%; }

.h-100 {
  height: 100%; }

.min-h-100 {
  min-height: 100%; }

/* Screen Height Percentage */
.vh-25 {
  height: 25vh; }

.vh-50 {
  height: 50vh; }

.vh-75 {
  height: 75vh; }

.vh-100 {
  height: 100vh; }

.min-vh-100 {
  min-height: 100vh; }

/*

   LETTER SPACING
   Docs: http://tachyons.io/docs/typography/tracking/

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/
.tracked {
  letter-spacing: .1em; }

.tracked-tight {
  letter-spacing: -.05em; }

.tracked-mega {
  letter-spacing: .25em; }

.tracked-terminal {
  letter-spacing: -.08em; }

@media (min-width: 768px) {
  .tracked-ns {
    letter-spacing: .1em; }
  .tracked-tight-ns {
    letter-spacing: -.05em; }
  .tracked-mega-ns {
    letter-spacing: .25em; } }

@media (min-width: 992px) {
  .tracked-m {
    letter-spacing: .1em; }
  .tracked-tight-m {
    letter-spacing: -.05em; }
  .tracked-mega-m {
    letter-spacing: .25em; } }

@media (min-width: 1200px) {
  .tracked-l {
    letter-spacing: .1em; }
  .tracked-tight-l {
    letter-spacing: -.05em; }
  .tracked-mega-l {
    letter-spacing: .25em; } }

/*

   LINE HEIGHT / LEADING
   Docs: http://tachyons.io/docs/typography/line-height

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/
.lh-solid {
  line-height: 1; }

.lh-title {
  line-height: 1.25; }

.lh-copy {
  line-height: 1.5; }

.lh-blink {
  line-height: 1.15; }

@media (min-width: 768px) {
  .lh-solid-sm {
    line-height: 1; }
  .lh-title-sm {
    line-height: 1.25; }
  .lh-copy-sm {
    line-height: 1.5; } }

@media (min-width: 992px) {
  .lh-solid-m {
    line-height: 1; }
  .lh-title-m {
    line-height: 1.25; }
  .lh-copy-m {
    line-height: 1.5; } }

@media (min-width: 1200px) {
  .lh-solid-l {
    line-height: 1; }
  .lh-title-l {
    line-height: 1.25; }
  .lh-copy-l {
    line-height: 1.5; } }

.color-links a:hover {
  color: #00BFAA;
  transition: color 0.5s ease; }

.lighten-links a:hover {
  opacity: 0.5; }

.link-aqua-lighten a {
  transition: color 0.3s ease; }

.link-aqua-lighten a:hover {
  color: #00d9c1; }

.link-aqua-svg-lighten a svg {
  transition: all 0.3s ease;
  -webkit-transform: scale(1);
          transform: scale(1); }

.link-aqua-svg-lighten a:hover svg {
  fill: #00d9c1;
  -webkit-transform: scale(1.15);
          transform: scale(1.15); }

.logo {
  width: 125px;
  height: 37px; }

.logo--small {
  width: 100px; }

.press-logo {
  height: 35px;
  max-width: 175px; }

/*

   MAX WIDTHS
   Docs: http://tachyons.io/docs/layout/max-widths/

   Base:
     mw = max-width

   Modifiers
     1 = 1st step in width scale
     2 = 2nd step in width scale
     3 = 3rd step in width scale
     4 = 4th step in width scale
     5 = 5th step in width scale
     6 = 6st step in width scale
     7 = 7nd step in width scale
     8 = 8rd step in width scale
     9 = 9th step in width scale

     -100 = literal value 100%

     -none  = string value none


   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/
/* Max Width Percentages */
.mw-100 {
  max-width: 100%; }

/* Max Width Scale */
.mw1 {
  max-width: 1rem; }

.mw2 {
  max-width: 2rem; }

.mw3 {
  max-width: 4rem; }

.mw4 {
  max-width: 8rem; }

.mw5 {
  max-width: 16rem; }

.mw6 {
  max-width: 32rem; }

.mw7 {
  max-width: 48rem; }

.mw8 {
  max-width: 64rem; }

.mw9 {
  max-width: 96rem; }

/* Max Width String Properties */
.mw-none {
  max-width: none; }

@media (min-width: 768px) {
  .mw-100-sm {
    max-width: 100%; }
  .mw1-sm {
    max-width: 1rem; }
  .mw2-sm {
    max-width: 2rem; }
  .mw3-sm {
    max-width: 4rem; }
  .mw4-sm {
    max-width: 8rem; }
  .mw5-sm {
    max-width: 16rem; }
  .mw6-sm {
    max-width: 32rem; }
  .mw7-sm {
    max-width: 48rem; }
  .mw8-sm {
    max-width: 64rem; }
  .mw9-sm {
    max-width: 96rem; }
  .mw-none-sm {
    max-width: none; } }

@media (min-width: 992px) {
  .mw-100-m {
    max-width: 100%; }
  .mw1-m {
    max-width: 1rem; }
  .mw2-m {
    max-width: 2rem; }
  .mw3-m {
    max-width: 4rem; }
  .mw4-m {
    max-width: 8rem; }
  .mw5-m {
    max-width: 16rem; }
  .mw6-m {
    max-width: 32rem; }
  .mw7-m {
    max-width: 48rem; }
  .mw8-m {
    max-width: 64rem; }
  .mw9-m {
    max-width: 96rem; }
  .mw-none-m {
    max-width: none; } }

@media (min-width: 1200px) {
  .mw-100-l {
    max-width: 100%; }
  .mw1-l {
    max-width: 1rem; }
  .mw2-l {
    max-width: 2rem; }
  .mw3-l {
    max-width: 4rem; }
  .mw4-l {
    max-width: 8rem; }
  .mw5-l {
    max-width: 16rem; }
  .mw6-l {
    max-width: 32rem; }
  .mw7-l {
    max-width: 48rem; }
  .mw8-l {
    max-width: 64rem; }
  .mw9-l {
    max-width: 96rem; }
  .mw-none-l {
    max-width: none; } }

.opacity-60 {
  opacity: 0.6; }

.opacity-80 {
  opacity: 0.8; }

/*

   POSITIONING
   Docs: http://tachyons.io/docs/layout/position/

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/
.static {
  position: static; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

@media (768px) {
  .static-ns {
    position: static; }
  .relative-ns {
    position: relative; }
  .absolute-ns {
    position: absolute; }
  .fixed-ns {
    position: fixed; } }

@media (992px) {
  .static-m {
    position: static; }
  .relative-m {
    position: relative; }
  .absolute-m {
    position: absolute; }
  .fixed-m {
    position: fixed; } }

@media (1200px) {
  .static-l {
    position: static; }
  .relative-l {
    position: relative; }
  .absolute-l {
    position: absolute; }
  .fixed-l {
    position: fixed; } }

/* Variables */
/*
   SPACING
   Docs: http://tachyons.io/docs/layout/spacing/
   An eight step powers of two scale ranging from 0 to 16rem.
   Base:
     p = padding
     m = margin
   Modifiers:
     a = all
     h = horizontal
     v = vertical
     t = top
     r = right
     b = bottom
     l = left
     0 = none
     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale
   Media Query Extensions:
     -sm = not-small
     -m  = medium
     -l  = large
*/
.pa0 {
  padding: 0; }

.pa1 {
  padding: 0.25rem; }

.pa2 {
  padding: 0.5rem; }

.pa3 {
  padding: 1rem; }

.pa4 {
  padding: 2rem; }

.pa5 {
  padding: 4rem; }

.pa6 {
  padding: 8rem; }

.pa7 {
  padding: 16rem; }

.pl0 {
  padding-left: 0; }

.pl1 {
  padding-left: 0.25rem; }

.pl2 {
  padding-left: 0.5rem; }

.pl3 {
  padding-left: 1rem; }

.pl4 {
  padding-left: 2rem; }

.pl5 {
  padding-left: 4rem; }

.pl6 {
  padding-left: 8rem; }

.pl7 {
  padding-left: 16rem; }

.pr0 {
  padding-right: 0; }

.pr1 {
  padding-right: 0.25rem; }

.pr2 {
  padding-right: 0.5rem; }

.pr3 {
  padding-right: 1rem; }

.pr4 {
  padding-right: 2rem; }

.pr5 {
  padding-right: 4rem; }

.pr6 {
  padding-right: 8rem; }

.pr7 {
  padding-right: 16rem; }

.pb0 {
  padding-bottom: 0; }

.pb1 {
  padding-bottom: 0.25rem; }

.pb2 {
  padding-bottom: 0.5rem; }

.pb3 {
  padding-bottom: 1rem; }

.pb4 {
  padding-bottom: 2rem; }

.pb5 {
  padding-bottom: 4rem; }

.pb6 {
  padding-bottom: 8rem; }

.pb7 {
  padding-bottom: 16rem; }

.pt0 {
  padding-top: 0; }

.pt1 {
  padding-top: 0.25rem; }

.pt2 {
  padding-top: 0.5rem; }

.pt3 {
  padding-top: 1rem; }

.pt4 {
  padding-top: 2rem; }

.pt5 {
  padding-top: 4rem; }

.pt6 {
  padding-top: 8rem; }

.pt7 {
  padding-top: 16rem; }

.pv0 {
  padding-top: 0;
  padding-bottom: 0; }

.pv1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.pv2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.pv3 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.pv4 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.pv5 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.pv6 {
  padding-top: 8rem;
  padding-bottom: 8rem; }

.pv7 {
  padding-top: 16rem;
  padding-bottom: 16rem; }

.ph0 {
  padding-left: 0;
  padding-right: 0; }

.ph1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.ph2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.ph3 {
  padding-left: 1rem;
  padding-right: 1rem; }

.ph4 {
  padding-left: 2rem;
  padding-right: 2rem; }

.ph5 {
  padding-left: 4rem;
  padding-right: 4rem; }

.ph6 {
  padding-left: 8rem;
  padding-right: 8rem; }

.ph7 {
  padding-left: 16rem;
  padding-right: 16rem; }

.ma0 {
  margin: 0; }

.ma1 {
  margin: 0.25rem; }

.ma2 {
  margin: 0.5rem; }

.ma3 {
  margin: 1rem; }

.ma4 {
  margin: 2rem; }

.ma5 {
  margin: 4rem; }

.ma6 {
  margin: 8rem; }

.ma7 {
  margin: 16rem; }

.ml0 {
  margin-left: 0; }

.ml1 {
  margin-left: 0.25rem; }

.ml2 {
  margin-left: 0.5rem; }

.ml3 {
  margin-left: 1rem; }

.ml4 {
  margin-left: 2rem; }

.ml5 {
  margin-left: 4rem; }

.ml6 {
  margin-left: 8rem; }

.ml7 {
  margin-left: 16rem; }

.mr0 {
  margin-right: 0; }

.mr1 {
  margin-right: 0.25rem; }

.mr2 {
  margin-right: 0.5rem; }

.mr3 {
  margin-right: 1rem; }

.mr4 {
  margin-right: 2rem; }

.mr5 {
  margin-right: 4rem; }

.mr6 {
  margin-right: 8rem; }

.mr7 {
  margin-right: 16rem; }

.mb0 {
  margin-bottom: 0; }

.mb1 {
  margin-bottom: 0.25rem; }

.mb2 {
  margin-bottom: 0.5rem; }

.mb3 {
  margin-bottom: 1rem; }

.mb4 {
  margin-bottom: 2rem; }

.mb5 {
  margin-bottom: 4rem; }

.mb6 {
  margin-bottom: 8rem; }

.mb7 {
  margin-bottom: 16rem; }

.mt0 {
  margin-top: 0; }

.mt1 {
  margin-top: 0.25rem; }

.mt2 {
  margin-top: 0.5rem; }

.mt3 {
  margin-top: 1rem; }

.mt4 {
  margin-top: 2rem; }

.mt5 {
  margin-top: 4rem; }

.mt6 {
  margin-top: 8rem; }

.mt7 {
  margin-top: 16rem; }

.mv0 {
  margin-top: 0;
  margin-bottom: 0; }

.mv1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.mv2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.mv3 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.mv4 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.mv5 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.mv6 {
  margin-top: 8rem;
  margin-bottom: 8rem; }

.mv7 {
  margin-top: 16rem;
  margin-bottom: 16rem; }

.mh0 {
  margin-left: 0;
  margin-right: 0; }

.mh1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem; }

.mh2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.mh3 {
  margin-left: 1rem;
  margin-right: 1rem; }

.mh4 {
  margin-left: 2rem;
  margin-right: 2rem; }

.mh5 {
  margin-left: 4rem;
  margin-right: 4rem; }

.mh6 {
  margin-left: 8rem;
  margin-right: 8rem; }

.mh7 {
  margin-left: 16rem;
  margin-right: 16rem; }

@media (min-width: 768px) {
  .pa0-sm {
    padding: 0; }
  .pa1-sm {
    padding: 0.25rem; }
  .pa2-sm {
    padding: 0.5rem; }
  .pa3-sm {
    padding: 1rem; }
  .pa4-sm {
    padding: 2rem; }
  .pa5-sm {
    padding: 4rem; }
  .pa6-sm {
    padding: 8rem; }
  .pa7-sm {
    padding: 16rem; }
  .pl0-sm {
    padding-left: 0; }
  .pl1-sm {
    padding-left: 0.25rem; }
  .pl2-sm {
    padding-left: 0.5rem; }
  .pl3-sm {
    padding-left: 1rem; }
  .pl4-sm {
    padding-left: 2rem; }
  .pl5-sm {
    padding-left: 4rem; }
  .pl6-sm {
    padding-left: 8rem; }
  .pl7-sm {
    padding-left: 16rem; }
  .pr0-sm {
    padding-right: 0; }
  .pr1-sm {
    padding-right: 0.25rem; }
  .pr2-sm {
    padding-right: 0.5rem; }
  .pr3-sm {
    padding-right: 1rem; }
  .pr4-sm {
    padding-right: 2rem; }
  .pr5-sm {
    padding-right: 4rem; }
  .pr6-sm {
    padding-right: 8rem; }
  .pr7-sm {
    padding-right: 16rem; }
  .pb0-sm {
    padding-bottom: 0; }
  .pb1-sm {
    padding-bottom: 0.25rem; }
  .pb2-sm {
    padding-bottom: 0.5rem; }
  .pb3-sm {
    padding-bottom: 1rem; }
  .pb4-sm {
    padding-bottom: 2rem; }
  .pb5-sm {
    padding-bottom: 4rem; }
  .pb6-sm {
    padding-bottom: 8rem; }
  .pb7-sm {
    padding-bottom: 16rem; }
  .pt0-sm {
    padding-top: 0; }
  .pt1-sm {
    padding-top: 0.25rem; }
  .pt2-sm {
    padding-top: 0.5rem; }
  .pt3-sm {
    padding-top: 1rem; }
  .pt4-sm {
    padding-top: 2rem; }
  .pt5-sm {
    padding-top: 4rem; }
  .pt6-sm {
    padding-top: 8rem; }
  .pt7-sm {
    padding-top: 16rem; }
  .pv0-sm {
    padding-top: 0;
    padding-bottom: 0; }
  .pv1-sm {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; }
  .pv2-sm {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .pv3-sm {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .pv4-sm {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .pv5-sm {
    padding-top: 4rem;
    padding-bottom: 4rem; }
  .pv6-sm {
    padding-top: 8rem;
    padding-bottom: 8rem; }
  .pv7-sm {
    padding-top: 16rem;
    padding-bottom: 16rem; }
  .ph0-sm {
    padding-left: 0;
    padding-right: 0; }
  .ph1-sm {
    padding-left: 0.25rem;
    padding-right: 0.25rem; }
  .ph2-sm {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  .ph3-sm {
    padding-left: 1rem;
    padding-right: 1rem; }
  .ph4-sm {
    padding-left: 2rem;
    padding-right: 2rem; }
  .ph5-sm {
    padding-left: 4rem;
    padding-right: 4rem; }
  .ph6-sm {
    padding-left: 8rem;
    padding-right: 8rem; }
  .ph7-sm {
    padding-left: 16rem;
    padding-right: 16rem; }
  .ma0-sm {
    margin: 0; }
  .ma1-sm {
    margin: 0.25rem; }
  .ma2-sm {
    margin: 0.5rem; }
  .ma3-sm {
    margin: 1rem; }
  .ma4-sm {
    margin: 2rem; }
  .ma5-sm {
    margin: 4rem; }
  .ma6-sm {
    margin: 8rem; }
  .ma7-sm {
    margin: 16rem; }
  .ml0-sm {
    margin-left: 0; }
  .ml1-sm {
    margin-left: 0.25rem; }
  .ml2-sm {
    margin-left: 0.5rem; }
  .ml3-sm {
    margin-left: 1rem; }
  .ml4-sm {
    margin-left: 2rem; }
  .ml5-sm {
    margin-left: 4rem; }
  .ml6-sm {
    margin-left: 8rem; }
  .ml7-sm {
    margin-left: 16rem; }
  .mr0-sm {
    margin-right: 0; }
  .mr1-sm {
    margin-right: 0.25rem; }
  .mr2-sm {
    margin-right: 0.5rem; }
  .mr3-sm {
    margin-right: 1rem; }
  .mr4-sm {
    margin-right: 2rem; }
  .mr5-sm {
    margin-right: 4rem; }
  .mr6-sm {
    margin-right: 8rem; }
  .mr7-sm {
    margin-right: 16rem; }
  .mb0-sm {
    margin-bottom: 0; }
  .mb1-sm {
    margin-bottom: 0.25rem; }
  .mb2-sm {
    margin-bottom: 0.5rem; }
  .mb3-sm {
    margin-bottom: 1rem; }
  .mb4-sm {
    margin-bottom: 2rem; }
  .mb5-sm {
    margin-bottom: 4rem; }
  .mb6-sm {
    margin-bottom: 8rem; }
  .mb7-sm {
    margin-bottom: 16rem; }
  .mt0-sm {
    margin-top: 0; }
  .mt1-sm {
    margin-top: 0.25rem; }
  .mt2-sm {
    margin-top: 0.5rem; }
  .mt3-sm {
    margin-top: 1rem; }
  .mt4-sm {
    margin-top: 2rem; }
  .mt5-sm {
    margin-top: 4rem; }
  .mt6-sm {
    margin-top: 8rem; }
  .mt7-sm {
    margin-top: 16rem; }
  .mv0-sm {
    margin-top: 0;
    margin-bottom: 0; }
  .mv1-sm {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem; }
  .mv2-sm {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
  .mv3-sm {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .mv4-sm {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .mv5-sm {
    margin-top: 4rem;
    margin-bottom: 4rem; }
  .mv6-sm {
    margin-top: 8rem;
    margin-bottom: 8rem; }
  .mv7-sm {
    margin-top: 16rem;
    margin-bottom: 16rem; }
  .mh0-sm {
    margin-left: 0;
    margin-right: 0; }
  .mh1-sm {
    margin-left: 0.25rem;
    margin-right: 0.25rem; }
  .mh2-sm {
    margin-left: 0.5rem;
    margin-right: 0.5rem; }
  .mh3-sm {
    margin-left: 1rem;
    margin-right: 1rem; }
  .mh4-sm {
    margin-left: 2rem;
    margin-right: 2rem; }
  .mh5-sm {
    margin-left: 4rem;
    margin-right: 4rem; }
  .mh6-sm {
    margin-left: 8rem;
    margin-right: 8rem; }
  .mh7-sm {
    margin-left: 16rem;
    margin-right: 16rem; } }

@media (min-width: 992px) {
  .pa0-m {
    padding: 0; }
  .pa1-m {
    padding: 0.25rem; }
  .pa2-m {
    padding: 0.5rem; }
  .pa3-m {
    padding: 1rem; }
  .pa4-m {
    padding: 2rem; }
  .pa5-m {
    padding: 4rem; }
  .pa6-m {
    padding: 8rem; }
  .pa7-m {
    padding: 16rem; }
  .pl0-m {
    padding-left: 0; }
  .pl1-m {
    padding-left: 0.25rem; }
  .pl2-m {
    padding-left: 0.5rem; }
  .pl3-m {
    padding-left: 1rem; }
  .pl4-m {
    padding-left: 2rem; }
  .pl5-m {
    padding-left: 4rem; }
  .pl6-m {
    padding-left: 8rem; }
  .pl7-m {
    padding-left: 16rem; }
  .pr0-m {
    padding-right: 0; }
  .pr1-m {
    padding-right: 0.25rem; }
  .pr2-m {
    padding-right: 0.5rem; }
  .pr3-m {
    padding-right: 1rem; }
  .pr4-m {
    padding-right: 2rem; }
  .pr5-m {
    padding-right: 4rem; }
  .pr6-m {
    padding-right: 8rem; }
  .pr7-m {
    padding-right: 16rem; }
  .pb0-m {
    padding-bottom: 0; }
  .pb1-m {
    padding-bottom: 0.25rem; }
  .pb2-m {
    padding-bottom: 0.5rem; }
  .pb3-m {
    padding-bottom: 1rem; }
  .pb4-m {
    padding-bottom: 2rem; }
  .pb5-m {
    padding-bottom: 4rem; }
  .pb6-m {
    padding-bottom: 8rem; }
  .pb7-m {
    padding-bottom: 16rem; }
  .pt0-m {
    padding-top: 0; }
  .pt1-m {
    padding-top: 0.25rem; }
  .pt2-m {
    padding-top: 0.5rem; }
  .pt3-m {
    padding-top: 1rem; }
  .pt4-m {
    padding-top: 2rem; }
  .pt5-m {
    padding-top: 4rem; }
  .pt6-m {
    padding-top: 8rem; }
  .pt7-m {
    padding-top: 16rem; }
  .pv0-m {
    padding-top: 0;
    padding-bottom: 0; }
  .pv1-m {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; }
  .pv2-m {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .pv3-m {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .pv4-m {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .pv5-m {
    padding-top: 4rem;
    padding-bottom: 4rem; }
  .pv6-m {
    padding-top: 8rem;
    padding-bottom: 8rem; }
  .pv7-m {
    padding-top: 16rem;
    padding-bottom: 16rem; }
  .ph0-m {
    padding-left: 0;
    padding-right: 0; }
  .ph1-m {
    padding-left: 0.25rem;
    padding-right: 0.25rem; }
  .ph2-m {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  .ph3-m {
    padding-left: 1rem;
    padding-right: 1rem; }
  .ph4-m {
    padding-left: 2rem;
    padding-right: 2rem; }
  .ph5-m {
    padding-left: 4rem;
    padding-right: 4rem; }
  .ph6-m {
    padding-left: 8rem;
    padding-right: 8rem; }
  .ph7-m {
    padding-left: 16rem;
    padding-right: 16rem; }
  .ma0-m {
    margin: 0; }
  .ma1-m {
    margin: 0.25rem; }
  .ma2-m {
    margin: 0.5rem; }
  .ma3-m {
    margin: 1rem; }
  .ma4-m {
    margin: 2rem; }
  .ma5-m {
    margin: 4rem; }
  .ma6-m {
    margin: 8rem; }
  .ma7-m {
    margin: 16rem; }
  .ml0-m {
    margin-left: 0; }
  .ml1-m {
    margin-left: 0.25rem; }
  .ml2-m {
    margin-left: 0.5rem; }
  .ml3-m {
    margin-left: 1rem; }
  .ml4-m {
    margin-left: 2rem; }
  .ml5-m {
    margin-left: 4rem; }
  .ml6-m {
    margin-left: 8rem; }
  .ml7-m {
    margin-left: 16rem; }
  .mr0-m {
    margin-right: 0; }
  .mr1-m {
    margin-right: 0.25rem; }
  .mr2-m {
    margin-right: 0.5rem; }
  .mr3-m {
    margin-right: 1rem; }
  .mr4-m {
    margin-right: 2rem; }
  .mr5-m {
    margin-right: 4rem; }
  .mr6-m {
    margin-right: 8rem; }
  .mr7-m {
    margin-right: 16rem; }
  .mb0-m {
    margin-bottom: 0; }
  .mb1-m {
    margin-bottom: 0.25rem; }
  .mb2-m {
    margin-bottom: 0.5rem; }
  .mb3-m {
    margin-bottom: 1rem; }
  .mb4-m {
    margin-bottom: 2rem; }
  .mb5-m {
    margin-bottom: 4rem; }
  .mb6-m {
    margin-bottom: 8rem; }
  .mb7-m {
    margin-bottom: 16rem; }
  .mt0-m {
    margin-top: 0; }
  .mt1-m {
    margin-top: 0.25rem; }
  .mt2-m {
    margin-top: 0.5rem; }
  .mt3-m {
    margin-top: 1rem; }
  .mt4-m {
    margin-top: 2rem; }
  .mt5-m {
    margin-top: 4rem; }
  .mt6-m {
    margin-top: 8rem; }
  .mt7-m {
    margin-top: 16rem; }
  .mv0-m {
    margin-top: 0;
    margin-bottom: 0; }
  .mv1-m {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem; }
  .mv2-m {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
  .mv3-m {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .mv4-m {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .mv5-m {
    margin-top: 4rem;
    margin-bottom: 4rem; }
  .mv6-m {
    margin-top: 8rem;
    margin-bottom: 8rem; }
  .mv7-m {
    margin-top: 16rem;
    margin-bottom: 16rem; }
  .mh0-m {
    margin-left: 0;
    margin-right: 0; }
  .mh1-m {
    margin-left: 0.25rem;
    margin-right: 0.25rem; }
  .mh2-m {
    margin-left: 0.5rem;
    margin-right: 0.5rem; }
  .mh3-m {
    margin-left: 1rem;
    margin-right: 1rem; }
  .mh4-m {
    margin-left: 2rem;
    margin-right: 2rem; }
  .mh5-m {
    margin-left: 4rem;
    margin-right: 4rem; }
  .mh6-m {
    margin-left: 8rem;
    margin-right: 8rem; }
  .mh7-m {
    margin-left: 16rem;
    margin-right: 16rem; } }

@media (min-width: 1200px) {
  .pa0-l {
    padding: 0; }
  .pa1-l {
    padding: 0.25rem; }
  .pa2-l {
    padding: 0.5rem; }
  .pa3-l {
    padding: 1rem; }
  .pa4-l {
    padding: 2rem; }
  .pa5-l {
    padding: 4rem; }
  .pa6-l {
    padding: 8rem; }
  .pa7-l {
    padding: 16rem; }
  .pl0-l {
    padding-left: 0; }
  .pl1-l {
    padding-left: 0.25rem; }
  .pl2-l {
    padding-left: 0.5rem; }
  .pl3-l {
    padding-left: 1rem; }
  .pl4-l {
    padding-left: 2rem; }
  .pl5-l {
    padding-left: 4rem; }
  .pl6-l {
    padding-left: 8rem; }
  .pl7-l {
    padding-left: 16rem; }
  .pr0-l {
    padding-right: 0; }
  .pr1-l {
    padding-right: 0.25rem; }
  .pr2-l {
    padding-right: 0.5rem; }
  .pr3-l {
    padding-right: 1rem; }
  .pr4-l {
    padding-right: 2rem; }
  .pr5-l {
    padding-right: 4rem; }
  .pr6-l {
    padding-right: 8rem; }
  .pr7-l {
    padding-right: 16rem; }
  .pb0-l {
    padding-bottom: 0; }
  .pb1-l {
    padding-bottom: 0.25rem; }
  .pb2-l {
    padding-bottom: 0.5rem; }
  .pb3-l {
    padding-bottom: 1rem; }
  .pb4-l {
    padding-bottom: 2rem; }
  .pb5-l {
    padding-bottom: 4rem; }
  .pb6-l {
    padding-bottom: 8rem; }
  .pb7-l {
    padding-bottom: 16rem; }
  .pt0-l {
    padding-top: 0; }
  .pt1-l {
    padding-top: 0.25rem; }
  .pt2-l {
    padding-top: 0.5rem; }
  .pt3-l {
    padding-top: 1rem; }
  .pt4-l {
    padding-top: 2rem; }
  .pt5-l {
    padding-top: 4rem; }
  .pt6-l {
    padding-top: 8rem; }
  .pt7-l {
    padding-top: 16rem; }
  .pv0-l {
    padding-top: 0;
    padding-bottom: 0; }
  .pv1-l {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; }
  .pv2-l {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .pv3-l {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .pv4-l {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .pv5-l {
    padding-top: 4rem;
    padding-bottom: 4rem; }
  .pv6-l {
    padding-top: 8rem;
    padding-bottom: 8rem; }
  .pv7-l {
    padding-top: 16rem;
    padding-bottom: 16rem; }
  .ph0-l {
    padding-left: 0;
    padding-right: 0; }
  .ph1-l {
    padding-left: 0.25rem;
    padding-right: 0.25rem; }
  .ph2-l {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  .ph3-l {
    padding-left: 1rem;
    padding-right: 1rem; }
  .ph4-l {
    padding-left: 2rem;
    padding-right: 2rem; }
  .ph5-l {
    padding-left: 4rem;
    padding-right: 4rem; }
  .ph6-l {
    padding-left: 8rem;
    padding-right: 8rem; }
  .ph7-l {
    padding-left: 16rem;
    padding-right: 16rem; }
  .ma0-l {
    margin: 0; }
  .ma1-l {
    margin: 0.25rem; }
  .ma2-l {
    margin: 0.5rem; }
  .ma3-l {
    margin: 1rem; }
  .ma4-l {
    margin: 2rem; }
  .ma5-l {
    margin: 4rem; }
  .ma6-l {
    margin: 8rem; }
  .ma7-l {
    margin: 16rem; }
  .ml0-l {
    margin-left: 0; }
  .ml1-l {
    margin-left: 0.25rem; }
  .ml2-l {
    margin-left: 0.5rem; }
  .ml3-l {
    margin-left: 1rem; }
  .ml4-l {
    margin-left: 2rem; }
  .ml5-l {
    margin-left: 4rem; }
  .ml6-l {
    margin-left: 8rem; }
  .ml7-l {
    margin-left: 16rem; }
  .mr0-l {
    margin-right: 0; }
  .mr1-l {
    margin-right: 0.25rem; }
  .mr2-l {
    margin-right: 0.5rem; }
  .mr3-l {
    margin-right: 1rem; }
  .mr4-l {
    margin-right: 2rem; }
  .mr5-l {
    margin-right: 4rem; }
  .mr6-l {
    margin-right: 8rem; }
  .mr7-l {
    margin-right: 16rem; }
  .mb0-l {
    margin-bottom: 0; }
  .mb1-l {
    margin-bottom: 0.25rem; }
  .mb2-l {
    margin-bottom: 0.5rem; }
  .mb3-l {
    margin-bottom: 1rem; }
  .mb4-l {
    margin-bottom: 2rem; }
  .mb5-l {
    margin-bottom: 4rem; }
  .mb6-l {
    margin-bottom: 8rem; }
  .mb7-l {
    margin-bottom: 16rem; }
  .mt0-l {
    margin-top: 0; }
  .mt1-l {
    margin-top: 0.25rem; }
  .mt2-l {
    margin-top: 0.5rem; }
  .mt3-l {
    margin-top: 1rem; }
  .mt4-l {
    margin-top: 2rem; }
  .mt5-l {
    margin-top: 4rem; }
  .mt6-l {
    margin-top: 8rem; }
  .mt7-l {
    margin-top: 16rem; }
  .mv0-l {
    margin-top: 0;
    margin-bottom: 0; }
  .mv1-l {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem; }
  .mv2-l {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
  .mv3-l {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .mv4-l {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .mv5-l {
    margin-top: 4rem;
    margin-bottom: 4rem; }
  .mv6-l {
    margin-top: 8rem;
    margin-bottom: 8rem; }
  .mv7-l {
    margin-top: 16rem;
    margin-bottom: 16rem; }
  .mh0-l {
    margin-left: 0;
    margin-right: 0; }
  .mh1-l {
    margin-left: 0.25rem;
    margin-right: 0.25rem; }
  .mh2-l {
    margin-left: 0.5rem;
    margin-right: 0.5rem; }
  .mh3-l {
    margin-left: 1rem;
    margin-right: 1rem; }
  .mh4-l {
    margin-left: 2rem;
    margin-right: 2rem; }
  .mh5-l {
    margin-left: 4rem;
    margin-right: 4rem; }
  .mh6-l {
    margin-left: 8rem;
    margin-right: 8rem; }
  .mh7-l {
    margin-left: 16rem;
    margin-right: 16rem; } }

.bottom-3 {
  bottom: 1rem;
  position: absolute; }

/*

  TEXT ALIGN
  Docs: http://tachyons.io/docs/typography/text-align/

  Base
    t = text-align

  Modifiers
    l = left
    r = right
    c = center

  Media Query Extensions:
    -ns = not-small
    -m  = medium
    -l  = large

*/
.tl {
  text-align: left; }

.tr {
  text-align: right; }

.tc {
  text-align: center; }

@media (min-width: 768px) {
  .tl-sm {
    text-align: left; }
  .tr-sm {
    text-align: right; }
  .tc-sm {
    text-align: center; } }

@media (min-width: 992px) {
  .tl-m {
    text-align: left; }
  .tr-m {
    text-align: right; }
  .tc-m {
    text-align: center; } }

@media (min-width: 1200px) {
  .tl-l {
    text-align: left; }
  .tr-l {
    text-align: right; }
  .tc-l {
    text-align: center; } }

/*

   TEXT TRANSFORM
   Docs: http://tachyons.io/docs/typography/text-transform/

   Base:
     tt = text-transform

   Modifiers
     c = capitalize
     l = lowercase
     u = uppercase
     n = none

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/
.ttc {
  text-transform: capitalize; }

.ttl {
  text-transform: lowercase; }

.ttu {
  text-transform: uppercase; }

.ttn {
  text-transform: none; }

@media (min-width: 768px) {
  .ttc-sm {
    text-transform: capitalize; }
  .ttl-sm {
    text-transform: lowercase; }
  .ttu-sm {
    text-transform: uppercase; }
  .ttn-sm {
    text-transform: none; } }

@media (min-width: 992px) {
  .ttc-m {
    text-transform: capitalize; }
  .ttl-m {
    text-transform: lowercase; }
  .ttu-m {
    text-transform: uppercase; }
  .ttn-m {
    text-transform: none; } }

@media (min-width: 1200px) {
  .ttc-l {
    text-transform: capitalize; }
  .ttl-l {
    text-transform: lowercase; }
  .ttu-l {
    text-transform: uppercase; }
  .ttn-l {
    text-transform: none; } }

/*

   TYPE SCALE
   Docs: http://tachyons.io/docs/typography/scale/

   Base:
    f = font-size

   Modifiers
     1 = 1st step in size scale
     2 = 2nd step in size scale
     3 = 3rd step in size scale
     4 = 4th step in size scale
     5 = 5th step in size scale
     6 = 6th step in size scale

   Media Query Extensions:
     -sm = not-small
     -m  = medium
     -l  = large
*/
/*
 * For Hero/Marketing Titles
 *
 * These generally are too large for mobile
 * so be careful using them on smaller screens.
 * */
.f-6,
.f-headline {
  font-size: 2.55em; }

.f-5,
.f-subheadline {
  font-size: 2.25rem; }

/* Type Scale */
.f1 {
  font-size: 3rem; }

.f2 {
  font-size: 1.8rem; }

.f3 {
  font-size: 1.5rem; }

.f4 {
  font-size: 1.25rem; }

.f5 {
  font-size: 1rem; }

.f6 {
  font-size: .875rem; }

.fteam {
  font-size: 2.25rem; }

.f4w600 {
  font-weight: 600; }

@media (min-width: 768px) {
  .f-6-sm,
  .f-headline-sm {
    font-size: 4rem; }
  .f-5-sm,
  .f-subheadline-sm {
    font-size: 2.25rem; }
  .f1-sm {
    font-size: 3rem; }
  .f2-sm {
    font-size: 1.8rem; }
  .f3-sm {
    font-size: 1.5rem; }
  .f4-sm {
    font-size: 1.25rem; }
  .f5-sm {
    font-size: 1rem; }
  .f6-sm {
    font-size: .875rem; }
  .fteam-sm {
    font-size: 1.8rem; } }

@media (min-width: 992px) {
  .f-6-m,
  .f-headline-m {
    font-size: 3.98em; }
  .f-5-m,
  .f-subheadline-m {
    font-size: 4rem; }
  .f1-m {
    font-size: 3rem; }
  .f2-m {
    font-size: 2.25rem; }
  .f3-m {
    font-size: 1.5rem; }
  .f4-m {
    font-size: 1.25rem; }
  .f5-m {
    font-size: 1rem; }
  .f6-m {
    font-size: .875rem; }
  .fteam-m {
    font-size: 2.25rem; } }

@media (min-width: 1200px) {
  .f-6-l,
  .f-headline-l {
    font-size: 6rem; }
  .f-5-l,
  .f-subheadline-l {
    font-size: 5rem; }
  .f1-l {
    font-size: 3rem; }
  .f2-l {
    font-size: 2.25rem; }
  .f3-l {
    font-size: 1.5rem; }
  .f4-l {
    font-size: 1.25rem; }
  .f5-l {
    font-size: 1rem; }
  .f6-l {
    font-size: .875rem; } }

/*

   TYPOGRAPHY
   http://tachyons.io/docs/typography/measure/

   Media Query Extensions:
     -sm = not-small
     -m  = medium
     -l  = large

*/
/* Measure is limited to ~66 characters */
.measure {
  max-width: 30em; }

/* Measure is limited to ~80 characters */
.measure-wide {
  max-width: 34em; }

.measure-extra-wide {
  max-width: 38em; }

/* Measure is limited to ~45 characters */
.measure-narrow {
  max-width: 20em; }

/* Book paragraph style - paragraphs are indented with no vertical spacing. */
.indent {
  text-indent: 1em;
  margin-top: 0;
  margin-bottom: 0; }

.small-caps {
  font-variant: small-caps; }

/* Combine this class with a width to truncate text (or just leave as is to truncate at width of containing element. */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

@media (min-width: 768px) {
  .measure-sm {
    max-width: 30em; }
  .measure-wide-sm {
    max-width: 34em; }
  .measure-narrow-sm {
    max-width: 20em; }
  .indent-sm {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0; }
  .small-caps-sm {
    font-variant: small-caps; }
  .truncate-sm {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; } }

@media (min-width: 992px) {
  .measure-m {
    max-width: 30em; }
  .measure-wide-m {
    max-width: 34em; }
  .measure-narrow-m {
    max-width: 20em; }
  .indent-m {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0; }
  .small-caps-m {
    font-variant: small-caps; }
  .truncate-m {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; } }

@media (min-width: 1200px) {
  .measure-l {
    max-width: 30em; }
  .measure-wide-l {
    max-width: 34em; }
  .measure-narrow-l {
    max-width: 20em; }
  .indent-l {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0; }
  .small-caps-l {
    font-variant: small-caps; }
  .truncate-l {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; } }

/*

   UTILITIES

*/
/* This is for fluid media that is embedded from third party sites like youtube, vimeo etc.
 * Wrap the outer element in aspect-ratio and then extend it with the desired ratio i.e
 * Make sure there are no height and width attributes on the embedded media.
 * Adapted from: https://github.com/suitcss/components-flex-embed
 *
 * Example:
 *
 * <div class="aspect-ratio aspect-ratio--16x9">
 *  <iframe class="aspect-ratio--object"></iframe>
 * </div>
 *
 * */
.overflow-container {
  overflow-y: scroll; }

.center {
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .center-sm {
    margin-right: auto;
    margin-left: auto; } }

.v-base {
  vertical-align: baseline; }

.v-mid {
  vertical-align: middle; }

.v-top {
  vertical-align: top; }

.v-btm {
  vertical-align: bottom; }

@media (min-width: 768px) {
  .v-base-sm {
    vertical-align: baseline; }
  .v-mid-sm {
    vertical-align: middle; }
  .v-top-sm {
    vertical-align: top; }
  .v-btm-sm {
    vertical-align: bottom; } }

@media (min-width: 992px) {
  .v-base-m {
    vertical-align: baseline; }
  .v-mid-m {
    vertical-align: middle; }
  .v-top-m {
    vertical-align: top; }
  .v-btm-m {
    vertical-align: bottom; } }

@media (min-width: 1200px) {
  .v-base-l {
    vertical-align: baseline; }
  .v-mid-l {
    vertical-align: middle; }
  .v-top-l {
    vertical-align: top; }
  .v-btm-l {
    vertical-align: bottom; } }

/*

   WIDTHS
   Docs: http://tachyons.io/docs/layout/widths/

   Base:
     w = width

   Modifiers
     1 = 1st step in width scale
     2 = 2nd step in width scale
     3 = 3rd step in width scale
     4 = 4th step in width scale
     5 = 5th step in width scale

     -10  = literal value 10%
     -20  = literal value 20%
     -25  = literal value 25%
     -33  = literal value 33%
     -34  = literal value 34%
     -40  = literal value 40%
     -50  = literal value 50%
     -60  = literal value 60%
     -75  = literal value 75%
     -80  = literal value 80%
     -100 = literal value 100%

     -third = 100% / 3 (Not supported in opera mini or IE8)
     -auto  = string value auto


   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/
/* Width Scale */
.w1 {
  width: 1rem; }

.w2 {
  width: 2rem; }

.w3 {
  width: 4rem; }

.w4 {
  width: 8rem; }

.w5 {
  width: 16rem; }

.w6 {
  width: 24rem; }

.w-10 {
  width: 10%; }

.w-20 {
  width: 20%; }

.w-25 {
  width: 25%; }

.w-30 {
  width: 30%; }

.w-33 {
  width: 33%; }

.w-34 {
  width: 34%; }

.w-40 {
  width: 40%; }

.w-50 {
  width: 50%; }

.w-60 {
  width: 60%; }

.w-70 {
  width: 70%; }

.w-75 {
  width: 75%; }

.w-80 {
  width: 80%; }

.w-90 {
  width: 90%; }

.w-100 {
  width: 100%; }

.w-third {
  width: 33.33%; }

.w-two-thirds {
  width: calc(100% / 1.5); }

.w-auto {
  width: auto; }

@media (min-width: 768px) {
  .w1-sm {
    width: 1rem; }
  .w2-sm {
    width: 2rem; }
  .w3-sm {
    width: 4rem; }
  .w4-sm {
    width: 8rem; }
  .w5-sm {
    width: 16rem; }
  .w6-sm {
    width: 24rem; }
  .w-10-sm {
    width: 10%; }
  .w-20-sm {
    width: 20%; }
  .w-25-sm {
    width: 25%; }
  .w-30-sm {
    width: 30%; }
  .w-33-sm {
    width: 33%; }
  .w-34-sm {
    width: 34%; }
  .w-40-sm {
    width: 40%; }
  .w-50-sm {
    width: 50%; }
  .w-60-sm {
    width: 60%; }
  .w-70-sm {
    width: 70%; }
  .w-75-sm {
    width: 75%; }
  .w-80-sm {
    width: 80%; }
  .w-90-sm {
    width: 90%; }
  .w-100-sm {
    width: 100%; }
  .w-third-sm {
    width: 33.33%; }
  .w-two-thirds-sm {
    width: calc(100% / 1.5); }
  .w-auto-sm {
    width: auto; } }

@media (min-width: 992px) {
  .w1-m {
    width: 1rem; }
  .w2-m {
    width: 2rem; }
  .w3-m {
    width: 4rem; }
  .w4-m {
    width: 8rem; }
  .w5-m {
    width: 16rem; }
  .w6-m {
    width: 24rem; }
  .w-10-m {
    width: 10%; }
  .w-20-m {
    width: 20%; }
  .w-25-m {
    width: 25%; }
  .w-30-m {
    width: 30%; }
  .w-33-m {
    width: 33%; }
  .w-34-m {
    width: 34%; }
  .w-40-m {
    width: 40%; }
  .w-50-m {
    width: 50%; }
  .w-60-m {
    width: 60%; }
  .w-70-m {
    width: 70%; }
  .w-75-m {
    width: 75%; }
  .w-80-m {
    width: 80%; }
  .w-90-m {
    width: 90%; }
  .w-100-m {
    width: 100%; }
  .w-third-m {
    width: 33.33%; }
  .w-two-thirds-m {
    width: calc(100% / 1.5); }
  .w-auto-m {
    width: auto; } }

@media (min-width: 1200px) {
  .w1-l {
    width: 1rem; }
  .w2-l {
    width: 2rem; }
  .w3-l {
    width: 4rem; }
  .w4-l {
    width: 8rem; }
  .w5-l {
    width: 16rem; }
  .w6-l {
    width: 24rem; }
  .w-10-l {
    width: 10%; }
  .w-20-l {
    width: 20%; }
  .w-25-l {
    width: 25%; }
  .w-30-l {
    width: 30%; }
  .w-33-l {
    width: 33%; }
  .w-34-l {
    width: 34%; }
  .w-40-l {
    width: 40%; }
  .w-50-l {
    width: 50%; }
  .w-60-l {
    width: 60%; }
  .w-70-l {
    width: 70%; }
  .w-75-l {
    width: 75%; }
  .w-80-l {
    width: 80%; }
  .w-90-l {
    width: 90%; }
  .w-100-l {
    width: 100%; }
  .w-third-l {
    width: 33.33%; }
  .w-two-thirds-l {
    width: calc(100% / 1.5); }
  .w-auto-l {
    width: auto; } }

.fw-500 {
  font-weight: 500; }

.fw-600 {
  font-weight: 600; }

.accordion {
  overflow: hidden; }

.accordion__btn {
  cursor: pointer;
  position: relative;
  transition: .3s color ease;
  background-color: white;
  z-index: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .accordion__btn:hover, .accordion__btn:focus {
    color: #00BFAA; }
  .accordion__btn::before {
    content: "+";
    position: absolute;
    right: 0;
    margin-left: 1rem; }

.accordion__btn--active {
  color: #00BFAA; }

.js .accordion__btn--active + .accordion__txt {
  display: block;
  -webkit-animation: fadeIn .7s ease forwards, dropdown .6s ease forwards;
          animation: fadeIn .7s ease forwards, dropdown .6s ease forwards; }

.js .accordion__txt {
  opacity: 0;
  display: none;
  z-index: -1;
  margin: 0; }

.announce {
  padding: 0.5rem;
  border-radius: .25em;
  display: inline-block; }

.announce--light {
  border: 1px solid rgba(255, 255, 255, 0.3); }

.announce:hover {
  background-color: #262c36; }

.arrow-left {
  position: relative;
  padding-left: 30px; }
  @media (min-width: 992px) {
    .arrow-left {
      padding-left: 0; } }
  .arrow-left:before {
    color: #00BFAA;
    content: "←";
    position: absolute;
    margin-left: -30px;
    font-family: tahoma; }

.arrow {
  font-family: tahoma; }

.arrow-hover {
  position: relative; }
  .arrow-hover:after {
    content: "→";
    position: absolute;
    right: -23px;
    font-family: tahoma;
    opacity: 0;
    transition: all .15s ease; }
  .arrow-hover:hover:after {
    opacity: 1;
    -webkit-transform: translateX(5px);
            transform: translateX(5px); }
.charity-bground {
	background-image: url('/uploads/charityheader.svg'); 
	background-size: 100% 100%;
	background-repeat: no-repeat; }
.svg-bground {
	background-image: url('/uploads/header_asset.svg#svgView(viewBox(-180,-205,150,700))');
	background-repeat: no-repeat;
}		
.banner {
  width: 100%;
  background: #5459eb;
  padding: 10px;
  padding: 30px 0;
  font-size: 22px;
  color: white; }

.banner-link {
  display: inline-block; }

.banner:hover .banner-link:after {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  transition: 300ms; }

.banner-link:after {
  content: "→";
  transition: 300ms;
  font-size: 11px;
  position: relative;
  right: -3px;
  display: inline-block; }

.btn {
  background-color: #00BFAA;
  display: block;
  padding: 15px 40px;
  text-align: center;
  color: white;
  font-family: "Nitti Grotesk";
  border-radius: 3px;
  font-size: 20px;
  font-weight: 600; }
  @media (min-width: 768px) {
    .btn {
      display: inline-block; } }
  .btn:hover, .btn:focus {
    background-color: #00d9c1;
    cursor: pointer;
    outline: 0;
    transition: background-color 0.5s ease; }
  .btn:active {
    background-color: #00a693;
    transition: background-color 0.5s ease; }

.btn--dark {
  background-color: #4F555F; }
  .btn--dark:hover, .btn--dark:focus {
    background-color: #5b616d;
    cursor: pointer;
    outline: 0;
    transition: background-color 0.5s ease; }
  .btn--dark:active {
    background-color: #00a693;
    transition: background-color 0.5s ease; }

.btn--dark--outline {
  background-color: white;
  color: #00D6BF; }

.btn--play {
  position: relative; }
  .btn--play:before {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    border-left: 5px solid #fff;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent; }

.card {
  border-top: 4px solid #00D6BF;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  box-shadow: 0 0 0 0 #fff;
  transition: all .2s ease; }

.card:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  box-shadow: 1px 1px 1px 2px #fafafa; }

.hero__btn {
  margin-top: 1rem; }
  @media (min-width: 768px) {
    .hero__btn {
      display: inline-block;
      margin-right: 0.5rem; } }

@media (min-width: 1327px) {
  @supports ((display: -ms-flexbox) or (display: flex)) {
    .hero {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-align: end;
          align-items: flex-end; } } }

.hero__btn-wrapper {
  padding-top: 1rem; }
  @media (min-width: 1327px) {
    .hero__btn-wrapper {
      float: right; }
      @supports ((display: -ms-flexbox) or (display: flex)) {
        .hero__btn-wrapper {
          float: none; } } }

@media (min-width: 1327px) {
  .hero__text {
    float: left; }
    @supports ((display: -ms-flexbox) or (display: flex)) {
      .hero__text {
        float: none; } } }

.grid {
  margin-left: -0.5rem;
  margin-right: -0.5rem; }
  @media (min-width: 992px) {
    .grid {
      margin-left: -1rem;
      margin-right: -1rem; } }
  @supports ((display: -ms-flexbox) or (display: flex)) {
    .grid {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

@media (min-width: 768px) {
  .grid--50-sm .grid__col:nth-child(3n+1) {
    clear: left; } }

@media (min-width: 768px) {
  .grid--third-sm .grid__col:nth-child(3n+1) {
    clear: left; } }

@media (min-width: 992px) {
  .grid--third-m .grid__col:nth-child(3n+1) {
    clear: left; } }

@media (min-width: 1200px) {
  .grid--25-lg .grid__col:nth-child(4n+1) {
    clear: left; }
  .grid--25-lg .grid__col:nth-child(3n+1) {
    clear: none; } }

@media (min-width: 992px) {
  .grid--20-m .grid__col:nth-child(3n+1) {
    clear: none; } }

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 1000; } }

@keyframes dash {
  to {
    stroke-dashoffset: 1000; } }

@media (min-width: 1282px) {
  .illustration {
    display: table-cell;
    vertical-align: middle;
    padding: 20px; } }

.illustration svg {
  display: block;
  max-width: 500px;
  margin: 0 auto;
  height: auto; }
  .illustration svg .st0 {
    fill: #FFF;
    stroke: #20252d;
    stroke-width: 2;
    stroke-miterlimit: 100;
    stroke-dasharray: 5;
    stroke-dashoffset: 100;
    -webkit-animation: dash 30s linear infinite;
            animation: dash 30s linear infinite; }
  .illustration svg .st1 {
    fill: #FFFFFF;
    stroke: #20252d;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 100;
    stroke-dasharray: 5;
    stroke-dashoffset: 100;
    -webkit-animation: dash 50s linear infinite;
            animation: dash 50s linear infinite; }
  .illustration svg .st2 {
    fill: #FFFFFF;
    stroke: #20252D;
    stroke-width: 2;
    stroke-miterlimit: 10; }
  .illustration svg .st3 {
    fill: #20252D; }
  .illustration svg .st4 {
    fill: #FFFFFF; }
  .illustration svg .st5 {
    fill: #00D6BF; }

.illustration__text {
  width: 100%;
  padding-top: 50px; }
  @media (min-width: 1282px) {
    .illustration__text {
      display: table-cell;
      vertical-align: middle;
      padding-left: 20px;
      padding-right: 20px;
      width: 50%; } }

.architecture {
  height: auto; }
  .architecture svg .st0 {
    fill: #FAFAFA; }
  .architecture svg .st1 {
    fill: none;
    stroke: #1E252B;
    stroke-miterlimit: 10; }
  .architecture svg .st2 {
    fill: #1E252B; }
  .architecture svg .st3 {
    fill: #00D6BF; }
  .architecture svg .st4 {
    fill: #20252D; }
  .architecture svg .st5 {
    fill: #FFFFFF; }
  .architecture svg .st6 {
    fill: #B9F4EE; }
  .architecture svg .st7 {
    fill: #AEEADD; }
  .architecture svg .st8 {
    fill: #B9F4EE;
    stroke: #1E252B;
    stroke-miterlimit: 10; }
  .architecture svg .st9 {
    fill: #FFFFFF;
    stroke: #1E252B;
    stroke-miterlimit: 10; }
  .architecture svg .st10 {
    fill: none;
    stroke: #1E252B;
    stroke-linecap: round;
    stroke-miterlimit: 10; }

.longform ul {
  padding-left: 2rem;
  padding-bottom: 1em; }
  .longform ul li {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    position: relative;
    color: #333; }
  .longform ul li:before {
    content: "•";
    font-size: 120%;
    color: #00BFAA;
    position: absolute;
    left: -34px;
    top: 2px; }

.longform a {
  color: #00BFAA;
  transition: color .3s ease; }

.longform a:hover, .longform a:focus {
  color: #00d9c1; }

.longform strong {
  font-weight: 600; }

.longform blockquote {
  border-left: 3px solid #00D6BF;
  padding-left: 2rem;
  margin-bottom: 2rem; }
  .longform blockquote p:last-child {
    padding-bottom: 0; }

.icon {
  display: inline-block;
  height: 13px;
  width: 13px; }

.icon--large {
  height: 20px;
  width: 20px;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  top: 5px; }

.icon--xl {
  height: 40px;
  width: 40px; }

/* lightbox element can be any width and height */
.lightbox {
  position: fixed;
  width: 100%;
  /* can be any width */
  height: 100%;
  left: 0;
  top: 0;
  display: none;
  text-align: center;
  z-index: 999; }

.lightbox--visible {
  display: block; }

.lightbox:before {
  /* pseudo element to force vertical centering of child element */
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.lightbox:after {
  /* pseudo element to create overlay */
  background: black;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: 10; }

@-webkit-keyframes zooooom {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@keyframes zooooom {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

/* Centered child element can be any width and height */
.lightbox-align {
  position: relative;
  /* position element to participate in z-indexing */
  z-index: 20;
  /* higher z-index than overlay */
  display: inline-block;
  vertical-align: middle;
  width: 95%;
  /* can be any width */
  -webkit-animation: zooooom .5s ease;
          animation: zooooom .5s ease; }
  @media (min-width: 768px) {
    .lightbox-align {
      width: 80%; } }
  @media (min-width: 992px) {
    .lightbox-align {
      width: 75%; } }
  @media (min-width: 1200px) {
    .lightbox-align {
      width: 70%; } }

/* Video container to maintain Youtube 16:9 aspect ratio */
.lightbox-wrapper {
  position: relative;
  padding-top: 25px;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  height: 0; }

/* Make Youtube IFRAME responsive */
.lightbox-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.navbar--container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; }

.navbar {
  margin: 0 auto;
  position: relative;
  transition: border .3s ease;
  display: block !important;
  height: 70px;
  overflow: hidden;
  transition: height .3s ease; }
  .navbar.open {
    height: 350px; }
    @media (min-width: 678px) {
      .navbar.open {
        height: auto; } }
  @media (min-width: 678px) {
    .navbar {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between; } }

.unfixed-nav-padding {
  padding-top: 0; }

.nav {
  width: 100%; }
  @media (min-width: 678px) {
    .nav {
      float: right;
      width: auto;
      padding-top: 9px; } }
  @media (min-width: 678px) {
    .js .nav {
      max-height: 100%; } }
  .js .open .nav {
    padding-bottom: 20px; }
    @media (min-width: 678px) {
      .js .open .nav {
        max-height: 100%;
        padding-bottom: 0; } }

.nav__item {
  text-align: center;
  display: block;
  clear: both;
  padding-top: 15px;
  padding-bottom: 15px; }
  @media (min-width: 678px) {
    .nav__item {
      float: left;
      clear: none; }
      .nav__item a {
        display: block;
        padding-left: 2rem; } }

.nav-trigger {
  display: none;
  position: absolute;
  top: 25px;
  right: 0;
  z-index: 10; }
  .js .nav-trigger {
    display: block; }
    @media (min-width: 678px) {
      .js .nav-trigger {
        display: none; } }
  .nav-trigger input {
    display: none; }

.nav-trigger__icon {
  display: block;
  width: 28px;
  height: 18px;
  position: relative;
  cursor: pointer; }
  .nav-trigger__icon span {
    position: relative;
    top: 8px; }
    .nav-trigger__icon span, .nav-trigger__icon span:before, .nav-trigger__icon span:after {
      display: block;
      background: currentColor;
      width: 28px;
      height: 2px;
      border-radius: 1px; }
    .nav-trigger__icon span:before, .nav-trigger__icon span:after {
      content: '';
      position: absolute; }
    .nav-trigger__icon span:before {
      bottom: 8px; }
    .nav-trigger__icon span:after {
      top: 8px; }

.partner-logo {
  height: 32px; }
  @media (min-width: 768px) {
    .partner-logo {
      height: 40px; } }

.sequence-logo-letters {
  fill: #20252d; }

.c-white .sequence-logo-letters {
  fill: #FFFFFF; }

.stuck {
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  z-index: 2;
  color: #20252D; }
  .stuck svg {
    fill: #20252D; }

@-webkit-keyframes blinky {
  0% {
    background-color: transparent; }
  100% {
    background-color: #4F555F; } }

@keyframes blinky {
  0% {
    background-color: transparent; }
  100% {
    background-color: #4F555F; } }

.no-js .typewrite:after {
  content: "assets";
  background-color: none;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  height: 1em; }

.cursor {
  background-color: #4f555f;
  display: inline-block;
  height: 80%;
  margin-left: 8px;
  position: absolute;
  top: 3px;
  vertical-align: text-bottom;
  width: .525em;
  -webkit-animation: blinky .8s ease alternate infinite;
          animation: blinky .8s ease alternate infinite; }

.preserve-ratio {
  position: relative; }

.preserve-ratio:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%; }

.preserve-ratio > .embed-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
